// _aside.scss
.card-header {
    background-color: lighten($color-primario, 40%);
    color: darken($color-primario, 20%);
    font-weight: bold;
}

.quote-text {
    color: $color-quote;
    font-style: italic;
}
