.navbar-tech {
    background-color: $background-color-navbar-footer; 

    .navbar-nav .nav-link,
    & {
        color: $text-color-navbar; 
    }

    .navbar-nav .nav-link:hover {
        color: $hover-color-navbar; 
    }
}

.navbar-brand {
    font-family: $font-brand; 
    font-size: 2rem;
    font-weight: bold;
    color: $brand-color; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}