.noticias-principales .card-title {
    font-size: 1.8rem;
}

.noticias-principales .card-subtitle {
    font-size: 1.8rem;
    color: $subtitle-purple;
}

.noticias-principales .card-text {
    font-size: 1rem;
    color: $text-gray;
    text-align: justify;
}

.noticias-principales .footer-rosa-palo {
    background-color: $footer-pink-news;
    color: $white-color;
    padding: 1rem;
    text-align: center;
}

