// _noticias.scss
.noticias-principales {
    .card-title {
        font-family: $font-family-title;
        font-style: italic;
        color: $color-primario;
    }

    .card-subtitle {
        font-size: $font-size-subtitle;
        color: $color-secundario;
    }

    .card-text {
        font-size: $font-size-text;
        color: $color-texto;
        text-align: justify;
    }

    .footer-rosa-palo {
        background-color: $color-footer-bg;
        color: white;
        padding: 1rem;
        text-align: center;
    }
}
