
// variables de la Seccion Noticias
$color-primario: #061099;
$color-secundario: #8A2BE2;
$color-texto: #666;
$color-footer-bg: #F8BBd0;
$color-quote: #1e9fc3;
$color-btn-hover-heart: #d14777;
$color-btn-hover-thumb: #0F4C81;

$font-size-subtitle: 1.8rem;
$font-size-text: 1rem;
$font-family-title: 'Playfair Display', serif;



//variables footer
// Archivo _variables.scss
$footer-bg-color: #281752;
$footer-text-color: #ffffff;
$footer-link-color: #d14777;
